
@font-face{
	font-family:sfpro;
	src:url(fonts/SF-Pro-Display-Medium.otf);

	font-family:lobster;
	src:url(fonts/Lobster_1.3.otf);

}

h1 {
	font-family:sfpro;
	

}

h2{
	font-family:sfpro;
	
}

h3{
	font-family:sfpro;
	
}

h4{
	font-family:sfpro;
	
}