
.jumbotron{

background-color:#337ab7;
color:#ffffff;

}

.profilepic{

	height:100%;
	width:100%;
	padding-bottom:10px;

}

@font-face{
	font-family:sfpro;
	src:url(fonts/SF-Pro-Display-Medium.otf);

}

@font-face{
font-family:lobster;
	src:url(fonts/Lobster_1.3.otf);
	
}


h1 {
	font-family:sfpro;
	

}

h2{
	font-family:sfpro;
	
}

h3{
	font-family:sfpro;
	
}

h4{
	font-family:sfpro;
	
}