
.navbar{

	background-color:black;

}

.jumbotron {

background-color:#337AB7;
color:#ffffff;

}

.profilepic {

	max-height:100%;
	max-width:100%;

}

.banner {

	max-width:100%;

}

.navbar {


}

.content-image{

	max max-width:100%;

}

@font-face {
	font-family:sfpro;
	src:url(fonts/SF-Pro-Display-Regular.otf);

	font-family:lobster;
	src:url(fonts/Lobster_1.3.otf);
	
}


h1 {
	font-family:sfpro;
	

}

h2{
	font-family:sfpro;
	
}

h3{
	font-family:sfpro;
	
}

h4{
	font-family:sfpro;
	
}

h6{

	font-size:12px;
	font-color:;

}

p{


}
